node_modules
.next
.medusa
dist
build
.git
.gitignore
.env*
!.env.template
!.env.example
*.log
.DS_Store
coverage
.vscode
.idea
*.md
!README.md
yarn.lock
.yarnrc.yml
.yarn
.cache
docs/
integration-tests/
*.test.js
*.test.ts
.github/
Dockerfile
railway.toml
